<p id="notice"><%= notice %></p>

<h1>Países</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= link_to 'Mostar', country %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
